{% extends "home.html" %}
{% block preload_js %}
<script type="text/javascript" src="/static/jquery-1.6.2.js"></script>
{% endblock %}
{% block content %}
<script type="text/javascript">
$(document).ready(function(){
    var num_exercise = 1;
    var num_repetitions = new Array();
    num_repetitions.push(1);
    function build_selection() {
        var value = '<tr>';
        value += '<th></th>';
        value += '<td><select name="uebung_'+num_exercise+'">';
        
        {% for exercise in exercise_list %}
            value += '<option value="{{ exercise }}">{{ exercise }}</option>';
        {% endfor %}
        value += '</select>';
        value += '<table><tbody id="repetition"><tr>';
        value += '<th>Repetition '+num_repetitions[num_exercise-1]+'</th>';
        value += '<td>';
        value += '<input type="text" name="repetition_'+num_exercise+'_'+num_repetitions[num_exercise-1]+'"/>'
        value += '</td></tr>';
        value += '<th></th><td><a href="" class="add_repetition">add Repetition</a></td>';
        value += '</tbody></table>';
        value +='</td>';
        value += '</tr>';
        return value;
    }
    
    function add_repetition(event) {
        var row = '<tr><th>Repetition '+num_repetitions[num_exercise-1]+'</th><td>';
        row += '<input type="text" name="repetition_'+num_exercise+'_'+num_repetitions[num_exercise-1]+'"/>';
        row += '</td></tr>';
        $(this).parent().parent().parent().append(row);
        event.preventDefault();
    }

    $("#table_form_body").append(build_selection());
    
    $("#add_exercise").click(function(event){
        num_exercise++;
        num_repetitions.push(1);
        $("#table_form_body").append(build_selection());
        $(".add_repetition").click(add_repetition);
    event.preventDefault();
  });
  
  $(".add_repetition").click(add_repetition);
});
</script>
<form action="" method="post">
    {% csrf_token %}
    <table>
        <tbody id="table_form_body">
            {{ form.as_table }}
        </tbody>
    </table>
    <input type="submit" value="add" />
</form>
<a id="add_exercise" href="">add Exercise</a>
{% endblock %}