{% extends "home.html" %}
{% block content %}
<div id="calendar_grid">
<table>
    <tbody>
        <tr>
            <td class="head" colspan="7">
                    <a href="{% url overview_month last_year last_month %}" style="float: left;">last</a>
                     <a href="{% url overview_month next_year next_month %}" style="float: right;">next</a>
                    {{ month_name }} {{ begin_at_moth.year }}
                </td>
        </tr>
        {% for days_row in days_grid %}
            <tr>
                {% for day in days_row %}
                    <td>
                        <a href="{% url detail today.year today.month today.day %}">
                            <div class="day">
                            {% if not day == 'empty' %}
                                {{ day.day }}
                            {% endif %}
                            </div> 
                        </a>
                    </td>   
                {% endfor %}
            </tr>
        {% endfor %}
    </tbody>
</table>
</div>
{% endblock %}